
.nav-content{
    display: flex;
    gap: 60px;
}
.simba{
    display: flex;
    gap: 60px;
    margin: 30px;
}
.boy{
    background-color: cornflowerblue;
    color: white;

}
.all{
    margin: 50px;
    background-size: contain;
    color: yellow;
    background-image: url("/images/harley.jpg");
    width: 530px;
    background-repeat: no-repeat;

}